:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#FFC107;
    --secundario:#0097A7;
    --gris:#757575;

    --fuente-principal:3.8rem;
}


/* 

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
html {
    font-size: 62.5%; 
}
body {
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.titulo {
    
    text-align: center;
    font-size: 3.8rem;
    color: var(--negro);


    /*font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase; */
   
    /* 1 rem = 10px*/
}
#cab{
    background-image: url(../img/cabecera2.jpg);
    padding: 2rem;
}

span {
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
}
.nav-bg{
    background-color: var(--secundario);
    
}
.nave-principal{
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
}
.nave-principal a {
   color: var(--blanco);
   text-decoration: none;
}